.register {
    width: 100%;
    height: 85vh;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
}

.register form {
    width: 350px;
    height: 420px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.register form h3 {
    color: rgb(0, 47, 255);
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 10px rgb(0, 238, 255);
    animation: bounce 4s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateX(0);
        color: rgba(0, 128, 255, 0.779);
        text-shadow: 2px 2px 10px rgb(255, 234, 0);
        
    }

    50% {
        transform: translateX(0);
        color: rgb(5, 67, 130);
        text-shadow: 10px 10px 15px yellow;

    }
}

.register form .btn_form,
.register form input {
    width: 100%;
    height: 30px;
    text-indent: 10px;
    font-size: 17px;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    box-shadow: 1px 1px 10px dodgerblue;
}

.register form .btn_form {
    background-color: rgb(30, 255, 34);
    color: #fff;
    font-weight: bold;
    height: 35px;
    cursor: pointer;
    transition: .8s;
}

.register form .btn_form:hover {
    transform: scale(1.1);
}